<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label
          >Введіть вік:
          <input type="number" ref="age" v-model="age" />
        </label>
      </div>
      <button @click="onStart">Надіслати</button>
      <div v-if="message" class="error">{{message}}</div>
    </div>
    <script>
      const { createApp } = Vue
      createApp({
        data() {
          return {
            age: null,
            message: null,
          }
        },
        methods: {
          onStart() {
            if (!this.age) {
              this.$refs.age.focus()
              this.message = 'Введіть вік'
            } else {
              if (this.age < 18) this.message = 'Вхід заборонено'
              else this.message = 'Вхід дозволено'
            }
          },
        },
        mounted() {
          this.$refs.age.focus()
        },
      }).mount('#app')
    </script>
  </body>
</html>
