<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Урок №2</title>
    <style>
      .menu {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
      }
      .menu-item {
        border: 2px solid black;
        flex: 1;
        max-width: 300px;
      }
      .title {
        padding: 10px;
        flex: 1;
      }
      .mess {
        padding: 10px;
        flex: 1;
        display: flex;
        justify-content: space-between;
      }
    </style>
    <!-- Задача 6. 
      На кухню поступають замовлення. 
      Спочатку ми додаємо їх у список “Очікують на виконання”, 
      якщо повар береться робити — замовлення переходить у список “Виконуються”,   
      якщо замовлення виконано — переходить у список “Готові до виносу”. 
      Якщо натиснути на “Подано” - страва зникає з таблиці -->
  </head>
  <body>
    <div id="app">
      <div>
        <label
          >Нова замовлена страва: <input type="text" v-model="prodTitle" />
          <button @click="onProductAdd">Додати</button>
        </label>
      </div>
      <hr />
      <div class="menu">
        <div class="menu-item">
          <div class="title">Очікують на виконання</div>
          <div class="mess" v-for="(prod, index) in waitingList" :key="index">
            {{prod.title}} <button @click="executed(index)">готувати</button>
          </div>
        </div>
        <div class="menu-item">
          <div class="title">Виконуються</div>
          <div class="mess" v-for="(prod, index) in processingList" :key="index">
            {{prod.title}} <button @click="readyOut(index)">приготовлено</button>
          </div>
        </div>
        <div class="menu-item">
          <div class="title">Готові до виносу</div>
          <div class="mess" v-for="(prod, index) in completedList">
            {{prod.title}} <button @click="submitted(index)">подано</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp } = Vue
      const app = createApp({
        data() {
          return {
            prodTitle: null,
            waitingList: [],
            processingList: [],
            completedList: [],
          }
        },
        methods: {
          onProductAdd() {
            this.waitingList.push({ title: this.prodTitle })
            this.prodTitle = null
          },
          executed(index) {
            let elem = this.waitingList[index]
            this.processingList.push(elem)
            this.waitingList.splice(index, 1)
          },
          readyOut(index) {
            let elem = this.processingList[index]
            this.completedList.push(elem)
            this.processingList.splice(index, 1)
          },
          submitted(index) {
            this.completedList.splice(index, 1)
          },
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
