<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }
      .list-container {
        width: 400px;
        height: 700px;
        margin: 10px;
        display: inline-block;
      }
      .athlete-container {
        border: 2px solid black;
        padding: 10px;
      }
      .athlete {
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="list-container">
        <h1>Загальний список</h1>
        <div class="athlete-container">
          <div v-for="(athlete, index) in generalList" :key="index" class="athlete">
            <div>{{athlete}}</div>
            <button @click="onSelect(index)">==>></button>
          </div>
        </div>
      </div>
      <div class="list-container">
        <h1>Загальний список</h1>
        <div class="athlete-container">
          <div v-for="(athlete, index) in selectedList" :key="index" class="athlete">
            <div>{{athlete}}</div>
            <button @click="onDeselect(index)"><<==</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const { createApp } = Vue
      const app = createApp({
        data() {
          return {
            generalList: ['John', 'Olga', 'Tanya', 'Peter', 'Stepan', 'Oksana'],
            selectedList: ['Anton', 'Dasha'],
          }
        },
        methods: {
          onSelect(index) {
            this.selectedList.push(this.generalList[index])
            this.generalList.splice(index, 1)
          },
          onDeselect(index) {
            this.generalList.push(this.selectedList[index])
            this.selectedList.splice(index, 1)
          },
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
