<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <div>
        <label>Login: <input type="text" ref="login" v-model="login" /></label>
      </div>
      <div>
        <label>Password: <input type="password" ref="password" v-model="password" /></label>
      </div>
      <button @click.prevent="onLogin">GO</button>

      <div v-if="message && isMessageVisible">{{message}}</div>
    </div>
    <script>
      const { createApp } = Vue
      const app = createApp({
        data() {
          return {
            login: null,
            password: null,
            message: null,
            fieldName: null,
          }
        },
        computed: {
          isMessageVisible() {
            return this.fieldName && !this[this.fieldName]
          },
        },
        methods: {
          onLogin() {
            if (!this.login) {
              this.$refs.login.focus()
              this.fieldName = 'login'
              this.message = 'Задайте Login'
            } else if (!this.password) {
              this.$refs.password.focus()
              this.fieldName = 'password'
              this.message = 'Задайте Password'
            }
          },
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
