<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label>Пошук: <input type="text" v-model="searchText" /></label>
      </div>
      <div>
        <ol v-if="filteredWorkerList.length">
          <li v-for="(worker, index) in filteredWorkerList" :key="index">{{worker}}</li>
        </ol>
        <div v-else>Таких не має</div>
      </div>
    </div>
    <script>
      const { createApp } = Vue
      createApp({
        data() {
          return {
            workers: ['John', 'Olga', 'Tanya', 'Peter', 'Stepan', 'Oksana'],
            searchText: null,
          }
        },
        computed: {
          filteredWorkerList() {
            if (!this.searchText) return this.workers
            const searchParam = this.searchText.toLowerCase()
            return this.workers.filter((worker) => worker.toLowerCase().includes(searchParam))
          },
        },
      }).mount('#app')
    </script>
  </body>
</html>
