<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Урок №2</title>
    <!--     Задача 2.
             З випадаючого списку вибираємо клас квитка у літаку. Якщо
             1) бізнес -  виводимо елементи для вибору газети та коньяку (якщо вибрано коньяк, то запропонувати закуску (так/ні)), на фоні зображення бізнес кают
             2) економ – виводимо елементи для вибору типу пива і чипсів, на фоні хмарки.
       -->
  </head>
  <body>
    <div id="app">
      <select v-model="selected">
        <option disabled value="">Будь ласка, оберіть варіант</option>
        <option>Бізнес</option>
        <option>Економ</option>
      </select>
      <template v-if="selected === 'Бізнес'">
        <div>{{selected}}</div>
      </template>
    </div>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            selected: '',
          }
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
