<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Урок №2</title>
  </head>
  <body>
    <div id="app">
      <select v-model="selected">
        <option disabled value="">Будь ласка, оберіть варіант</option>
        <option>Бізнес</option>
        <option>Економ</option>
      </select>
      <br />
      <template v-if="isSelectBusiness">
        <select v-model="newspaperCognac">
          <option disabled value="">Будь ласка, оберіть варіант</option>
          <option>Газета</option>
          <option>Коньяк</option>
        </select>
        <div
          v-if="isNewspaperCognac"
          :style="{backgroundImage: imgAirplaneСabin.backgroundImage, backgroundRepeat: 'no-repeat', 
          height: '300px', width: '300px'}"
        >
          <div>
            <div>Виберіть закуску</div>
            <div>
              <input type="radio" id="one" value="Один" v-model="picked" />
              <label for="one">Так</label>

              <input type="radio" id="two" value="Два" v-model="picked" />
              <label for="two">Ні</label>
            </div>
          </div>
        </div>
      </template>
      <template v-if="isSelectEconomy">
        <hr />
        <div
          :style="{backgroundImage: imgSkyClouds.backgroundImage, backgroundRepeat: 'no-repeat', 
        height: '300px', width: '300px'}"
        >
          <input type="checkbox" id="beer" value="Пиво" v-model="beerСhips" />
          <label for="beer">Пиво</label>

          <input type="checkbox" id="chips" value="Чипси" v-model="beerСhips" />
          <label for="chips">Чипси</label>
        </div>
      </template>
    </div>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            selected: '',
            newspaperCognac: '',
            beerСhips: [],
            imgAirplaneСabin: {
              backgroundImage: "url('img/business.jpg')",
            },
            imgSkyClouds: {
              backgroundImage: "url('img/sky.jpg')",
            },
            picked: null,
          }
        },
        computed: {
          isSelectBusiness() {
            return this.selected === 'Бізнес'
          },
          isSelectEconomy() {
            return this.selected === 'Економ'
          },
          isNewspaperCognac() {
            return this.newspaperCognac === 'Коньяк'
          },
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
