<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style>
      .low {
        background-color: orange;
      }
      .normal {
        background-color: green;
      }
      .danger {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div :class="{[currentClass]:isDataValid}">
        <label> Limit <input type="number" v-model="limitSpeed" /> </label>

        <label> Auto speed <input type="number" v-model="currentSpeed" :disabled="!limitSpeed" /> </label>
      </div>
      <div v-show="isAlertVisible">Увага</div>
      <div></div>
    </div>
    <script>
      const { createApp } = Vue
      const app = createApp({
        data() {
          return {
            limitSpeed: null,
            currentSpeedValue: null,
            isAlertVisible: false,
            intervalId: null,
          }
        },
        computed: {
          currentSpeed: {
            get() {
              return this.currentSpeedValue
            },
            set(newVal) {
              this.currentSpeedValue = newVal
              if (this.currentSpeedRate > 90) {
                this.startDisplayAlert()
              } else this.stopDisplayAlert()
            },
          },
          isDataValid() {
            return this.limitSpeed && this.currentSpeed
          },
          currentSpeedRate() {
            return (this.currentSpeed * 100) / this.limitSpeed
          },
          currentClass() {
            let currentClass = null
            if (this.currentSpeedRate < 50) currentClass = 'low'
            else if (this.currentSpeedRate < 100) currentClass = 'normal'
            else currentClass = 'danger'
            return currentClass
          },
        },
        methods: {
          startDisplayAlert() {
            if (!this.intervalId) {
              this.intervalId = setInterval(() => {
                this.isAlertVisible = !this.isAlertVisible
              }, 1000)
            }
          },
          stopDisplayAlert() {
            if (this.intervalId) {
              clearInterval(this.intervalId)
              this.isAlertVisible = false
              this.intervalId = null
            }
          },
        },
      }).mount('#app')
    </script>
  </body>
</html>
